#thumbnail
{
    border: 1px solid rgba(0,0,0,1);
    height: 300px;
    left: 40px;
    position: absolute;
    top: 40px;
    width: 400px;
}

#lens
{
    border: 1px solid rgba(0,0,0,1);
    height: 400px;
    left: 490px;
    overflow: hidden;
    position: absolute;
    top: 40px;
    width: 560px;
}

#lens img
{
    position: absolute;
}

#locator
{
    background-color: rgba(255,255,255,0.5);
    border: 0px solid rgba(0,0,0,0.5);
    cursor: pointer;
    height: 160px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 120px;
}

.resize img 
{
    height: 100%;
    position: relative;
    width: 100%;
}  
